body, html {
  height: 100%;
  background-color: brown;
}
header {height: 50%;
width: 100%;
background-image: url("resources/20240626_111923.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.home-info-head{
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.home-info-text{
  left: 50%;
  top: 68%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
}
.img-area{
display: flex;
padding-top: 15%;

}
.img1 img{
  max-width: auto;
  max-height: 500px;
}
.img2 img{
  max-width: auto;
  max-height: 500px;
  padding-left: 10%;
}
.img3 img{
  max-width: auto;
  max-height: 500px;
  padding-left: 20%;
}
.buttons{
  top: 115%;
  width: 96.5%;
  height: 20px;
  text-align: center;
  position: absolute;
}

::-webkit-scrollbar {
  display:none;
}
a:link, a:visited {
  color: aquamarine;
  text-decoration: none;
}
.nav {
  background-color: black;
}
.bottom-bar-thingy {
  background-color: white;
}