body, html {
  height: 100%;
  background-color: brown;
}

.hero-image {
  background-image: url("resources/20240626_111923.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.home-info-head{
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.home-info-text{
  left: 50%;
  top: 68%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  color: black;
}
.img-area{
  top: 85%;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: darkred;
  width: 100%;
  height: 20%;
}
.img1{
  width: 15%;
  height: 100%;
  top: 95%;
}
.buttons{
  top: 100%;
}
.B1{
  top: 100%;
}